body{
    color: white;
    background: linear-gradient(90deg, rgba(107,29,87,1) 0%, rgba(77,16,101,1) 100%);
    min-width: 1200px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Calibri, sans-serif, Helvetica, Arial;
}

:focus{
    outline-width: 0;
    box-shadow: 0 0 3pt 2pt lightblue;
}

.column1 {
    float: left;
    width: 300px;
}
.column2 {
    float: left;
    width: 300px;
}
.column3 {
    float: left;
    width: 50%;
}
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.login_container{
    margin-top: 280px;
    margin-left: 60%;
    
    font-size: 1.2em;
}

input[type=text], input[type=password] {   
    padding: 15px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    border-radius: 20px;
    width: 110%;
    min-width: 300px;
}

.forgot_password{
    color: rgb(147, 147, 147);
}
.signup{
    color: rgb(147, 147, 147);
}
.return_homepage{
    color: rgb(147, 147, 147);
}

button[type=submit]{
    padding: 15px 25px;
    background-color: rgb(201, 89, 201);
    border: 0px;
    border-radius: 20px;
    color: white;
    font-size: 0.8em;
    margin-top: 15px;
    margin-left: 30%;
    min-width: 140px;
}
button[type=submit]:hover{
    background-color: rgb(197, 117, 197);
}

.M{
    margin-top: -250px;
    margin-left: -250px;
    width: 650px;
    height: 900px;
    opacity: 0.7;
}

.text_logo1{
    margin-top: 50px;
    font-size: 80px;
    font-weight: bolder;
}
.text_logo2{
    font-size: 40px;
    color: lightgray;
}
/*footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
footer{
    font-family: Calibri, sans-serif, Helvetica, Arial;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    height: 100px;
}

.logo{
    margin-left: 100px;
}

.column1_footer {
    float: left;
    width: 350px;
}
.column2_footer {
    float: left;
    width: 1px;
    height: 55px;
    border-right: 2px solid #E2E2E2;
    margin-top: 25px;
    margin-left: 40px;

}
.column3_footer {
    float: left;
    width: 700px;
    margin-top: 40px;
}
.column4_footer {
    float: left;
    width: 1px;
    height: 55px;
    border-right: 2px solid #E2E2E2;
    margin-top: 25px;
    margin-left: 40px;
}
.column5_footer {
    float: left;
    width: 300px;
    text-align: left;
    margin-top: 18px;
    margin-left: 80px;
}
  
  /* Clear floats after image containers */
.row_footer::after {
    content: "";
    clear: both;
    display: table;
}

.instagram{
    margin-left: 150px;
}
.facebook{
    margin-left: 150px;
}
.twitter{
    margin-left: 150px;
}