*{
  font-family: Calibri;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html {
  width: 100%;
  height: auto;
  font-family: Calibri;
}
body {
  margin: 0;
  background-color: #fafafa;
}
.header-container {
  width: 100%;
  height: 135px;
  font-family: Calibri;
  box-shadow: 0px 8px 10px #dadada;
  background-color: white;
}
.menu {
  width: 100%;
  height: 135px;
  position: relative;
}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  padding-top: 15px;
  margin: 0 auto;
}
.top ul li{
  display: inline-block;
  margin-right: 50px;
}
.top ul li a{
  text-decoration: none;
  padding: 3px;
  color: black;
  font-weight: 500;
}
.top ul li a:hover{
  text-decoration: none;
  padding: 3px;
  color: #7f007f;
  font-weight: bold;
  border-bottom: 2px solid #7f007f;
}
.logo {
  margin-right: auto;
}
.header-logo {
  width: auto;
  height: 30px;
}
.fa-user{
  padding-right: 15px;
}
.sign-in {
  text-decoration: none;
  border: 1px solid #7f007f;
  padding: 6px 30px 6px 30px;
  color: #7f007f;
  border-radius: 3px;
}
.sign-in:hover {
  text-decoration: none;
  border: 1px solid #7f007f;
  padding: 6px 30px 6px 30px;
  background-color: #7f007f;
  color: white;
  border-radius: 3px;
}
.bottom {
  height: 95px;
  width: 80%;
  margin: 0 auto;
}
.search {
  width: 20px;
  float: right;
  padding-right: 5px;
}
.tablebottom {
  table-layout: fixed;
  width: 100%;
  height: 90px;
}
.td-cart{
  text-align: center; 
  vertical-align: middle;
}
.tablebottom-opt td a img {
  vertical-align: middle;
}
.tablebottom-opt td a {
  text-decoration: none;
  color: #7f007f;
}
input[type="text"] {
  width: 95%;
  padding: 6px 6px;
  border-radius: 0px;
  border-style: none;
  border-bottom: 1px solid black;
  outline: none;
}
.cart-img {
  width: 80px;
}
.icon {
  width: 30px;
}

.body-container {
  width: 80%;
  margin: 0 auto;
  font-family: Calibri;
  display: grid;
  grid-template-rows: 0.1fr 3fr;
  grid-template-areas: 
  "nav "
  "main";
}
.body-container nav {
  padding: 20px 0px 20px 0px;
  background-color:none;
  color: #969696;
  grid-area: nav;
}
.sidebar-and-grid{
  display:flex;
  flex-direction: row;
  grid-area: main;
}
.sidebar {
  /* display: inline-block; */
  width: 20%;
  height : fit-content;
  background-color: white;
  padding: 15px;
  text-align: center;
  vertical-align: top;
  box-shadow: 0px 8px 10px #dadada;
}
.sidebar select{
  width: 90%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid black;
  border-color: #dadada;
  border-radius: 0px;
  outline: none;
  padding: 10px 0px 8px 0px;
  margin-bottom: 15px;
}
.price{
  padding: 15px;
  margin-top: 30px;
  text-align: left;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: #969696;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
}

.slider::-moz-range-thumb {
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.price span{
  float: right;
}
.finding {
  padding: 15px;
}
.finding button{
  height: 50px;
  width: 100%;
  vertical-align: middle;
  background-color:#7F007F;
  font-size: medium;
  color: white;
  font-family: Calibri;
  border-style: none;
  border-radius: 3px;
  text-align: center;
}
.finding-icon{
  margin-left: 10%;
}
.grid-container{
 /* display : inline-block; */
  height: auto;
  width: 75%;
  margin-bottom: 50px;
  
}
.grid{
  margin-left: 40px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows:fit-content(40%);
  grid-gap: 30px;
  width : 100%;

}
.grid-item{
  width: 100%;
  height: 350px;
  background-color: white;
  box-shadow: 0px 8px 10px #dadada;
  padding: 5px;
  transition: transform 0.5s;
}
.grid-item :hover{
  transform: translateY(-5px);
}

.grid-item-image{
  width: 100%;
  height: 200px;
  vertical-align: top;
}
.grid-item-image img{
  height: 100%;
  width: 100%;
}
.grid-item-content{
  padding: 10px 15px 0px 15px;
}
.tenhang{
  font-weight: bold;
}
.sub-info{
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 5px;
  margin: 5px 0;
  font-size: small;
  display: flex;
  justify-content: space-between;
}
.tien{
  padding-top: 10px;
  display: flex;
  /* margin: 0 auto; */
  width: fit-content;
  vertical-align: middle;
}
.tien-icon{
  width: 35px;
}
.tien-giamoi{
  font-size: larger;
  font-weight: bold;
  line-height: 20px;
  color:#7F007F;
  ;
}
.tien-giacu{
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  color: #969696;
  text-decoration: line-through;
}
.fa-star{
  color:gold;
}
.fa-shopping-bag{
  color: forestgreen;
}
.fa-money-bill{
  color:#7F007F;
  font-size: 20px;
}


/* footer */
.fa-facebook{
  color:#2838CE; 
}
.fa-instagram{
  color:#FF0000;
}
.fa-twitter{
  color: #03A9F4;
}
footer{
  margin-top: 40px;
  width: 100%;
  background-color: white;
  border: 1px solid#E6E6E6;
}
.footer-container{
  width: 80%;
  max-height: 80px;
  margin: 0 auto;
  padding: 20px 0px;
  display :flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-logo{
  width:20%;
  margin-right: auto;
}
.footer-link{
  width: 10%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
