<div class="grid-item">

  <div class="grid-item-image">
    <img src="{{images}}" />
  </div>
  <div class="grid-item-content">
    <div class="tenhang">{{name}}</div>
    <div class="sub-info">
      <div class="chuabiet sub-info-flex_item">
        <span><i class="fas fa-star"></i></span>
        <span id="">72 </span>Đánh giá
      </div>
      <div class="daban sub-info-flex_item">
        <span><i class="fas fa-shopping-bag"></i></span>
        <span id="">7k1 </span>Đã bán
      </div>
    </div>
    <div class="tien">
      <div class="tien-icon">
        <span><i class="fas fa-money-bill"></i>
      </div>
      <div class="tien-giatien">
        <div class="tien-giamoi">{{price}} VNĐ</div>
        <div class="tien-giacu">{{price}} VNĐ</div>
      </div>
    </div>
  </div>

</div>