<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <a href="#">
        <img class="header-logo" src="/imgs/logo.png" alt="" />
      </a>
    </div>
    <div class="footer-link">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>