<header>
    <div class="header-container">
        <div class="menu">
            <div class="top">
                <a class="logo" href="#"><img class="header-logo" src="/imgs/logo.png" alt="" />
                </a>
                <ul>
                    <li><a href="#">ĐƠN HÀNG</a></li>
                    <li><a href="#">THÔNG BÁO</a></li>
                    <li><a href="#">KÊNH NGƯỜI BÁN</a></li>
                </ul>
                
                <a class="sign-in" href="#"><i class="far fa-user"></i>{{this.user.username}}</a>
                
                
            </div>
            <div class="bottom">
                <div class="dropdown">
                    <span class="dropbtn">DANH MỤC SẢN PHẨM <i class="fas fa-angle-down"></i></span>
                    <div class="dropdown-content">
                        <a href="#">ÁO</a>
                        <a href="#">QUẦN</a>
                        <a href="#">NÓN</a>
                        <a href="#">BALO - TÚI</a>
                    </div>
                </div>

                <div class="search">
                    <img class="search-logo" src="/imgs/search_logo.png" />
                    <input type="text" placeholder="Tìm kiếm trên Mongoloid..." />
                </div>

                <div>
                    <a href="#"><img class="cart" src="/imgs/cart.png" /></a>
                </div>
            </div>
        </div>
    </div>
</header>