<header>
    <div class="logo">
        <a href="/"><img src="./imgs/logo.png" alt="" /></a>
    </div>
    <div class="title-text">Kênh Người Bán</div>
    <div class="signin-signup-button">
        <button class="login">shop name</button>
    </div>
  
    <script src="/imgur.js"></script>
    <script src="/upload.js"></script>
</header>