<div class="navigation-container">
    <dl>
        <dt>QUẢN LÝ CỬA HÀNG</dt>
        <dd><a href="#ho-so">Hồ sơ cửa hàng</a></dd>

        <dt>QUẢN LÝ ĐƠN HÀNG</dt>
        <dd><a href="#don-hang">Tất cả đơn hàng</a></dd>
        <dd><a href="#don-huy">Đơn bị huỷ</a></dd>
        <dt>QUẢN LÝ SẢN PHẨM</dt>
        <dd><a href="#san-pham">Tất cả sản phẩm</a></dd>
        <dd><a href="#them-san-pham">Thêm sản phẩm</a></dd>
        <dt>TÀI CHÍNH</dt>
        <dd><a href="#doanh-thu">Doanh thu</a></dd>
    </dl>
</div>