<div class="navigation-container">
    <dl>
        <dt>QUẢN LÝ CỬA HÀNG</dt>
        <dd><a href="/shop-infor">Hồ sơ cửa hàng</a></dd>

        <dt>QUẢN LÝ ĐƠN HÀNG</dt>
        <dd><a href="/bill-infor">Tất cả đơn hàng</a></dd>
        <dd><a href="/bill-cancel-infor">Đơn bị huỷ</a></dd>
        <dt>QUẢN LÝ SẢN PHẨM</dt>
        <dd><a href="/product-list">Tất cả sản phẩm</a></dd>
        <dt>TÀI CHÍNH</dt>
        <dd><a href="/sales">Doanh thu</a></dd>
    </dl>
</div>