* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
body { 
  background-image: url("./img/background.png");
  background-attachment: fixed;
  font-family: Calibri, sans-serif, Helvetica, Arial;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: white;
  width: 50%;
  min-width: 710px;
  height: 500px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  -webkit-box-shadow: 20px 20px 25px 5px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 20px 20px 25px 5px rgba(0, 0, 0, 0.73);
  box-shadow: 20px 20px 25px 5px rgba(0, 0, 0, 0.73);
}
.container--login {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 40%;
  width: 40rem;
  height: 300px;
  font-size: 20rem;
}
.container--signup
{
  position: absolute;
  top: 30%;
  
  left: 40%;
  right: 10%;
  width: 40rem;
  height: 300px;
  font-size: 20rem;
}
.container--login .signin-button:hover{
  width: 60%;
  transition: 0.5s;
}
.container--login .signin-button{
  position: absolute;
  color: white;
  height: auto;
  width: 30%;
  padding: 10px 10px;
  margin: 0;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  outline: none;

  border-radius: 25px;
  border: 0px;
  background: linear-gradient(
    90deg,
    rgba(107, 29, 87, 1) 0%,
    rgba(77, 16, 101, 1) 100%
  );
  
  transition: 0.6s;
}

.container--signup .signup-button:hover{
  width: 60%;
  transition: 0.5s;
}
.container--signup .signup-button{
  position: absolute;
  color: white;
  width: 30%;
  padding: 10px 10px;

  margin: 0;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  outline: none;

  border-radius: 25px;
  border: 0;
  background: linear-gradient(
    90deg,
    rgba(77, 16, 101, 1) 0%,
    rgba(107, 29, 87, 1) 100%
  );
  
  transition: 0.5s;
}
.container--login div{
  width:50%;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.container--signup div{
  width: 50%;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.container input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-left: 10px;
  color: #595f6e;
}
.container label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 16px;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.container label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(77, 16, 101, 1);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.container label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.container input:focus + label span,
.container input:valid + label span {
  transform: translateY(-150%);
  font-size: 14px;
  color: rgba(77, 16, 101, 1);
}

.container input:focus + label::after {
  transform: translateX(0%);
}

.password {
  width: 50%;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.container--switch {
    position: relative;
    width: 30%;
    min-width: 210px;
    background: linear-gradient(
      90deg,
      rgba(107, 29, 87, 1) 0%,
      rgba(77, 16, 101, 1) 100%
    );
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 100%;
    left: 70%;
    top: 0;
  }
  
#switch-button:hover{
  width: 70%;
  transition: 0.3s;
}
#switch-button {
  position: absolute;
  color: white;
  width: 50%;
  padding: 10px 15px;
  top: 60%;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  outline: none;
  border-radius: 25px;
  background-color: transparent;
  border-color: white;
  box-shadow: none;
  border: 1px solid white;
  margin: auto;
  transition: 0.3s;
}

.translate-left {
  position: absolute;
  width: 30%;
  min-width: 210px;
  background: linear-gradient(
    90deg,
    rgba(77, 16, 101, 1) 0%,
    rgba(107, 29, 87, 1) 100%
  );
  
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

  height: 100%;
  left: 0;

  animation-name: toLeft, scale1;
  animation-duration: 1s;
  transition: all 1s;
}

.translate-right {
  position: absolute;
  width: 30%;
  min-width: 210px;
  background: linear-gradient(
    90deg,
    rgba(107, 29, 87, 1) 0%,
    rgba(77, 16, 101, 1) 100%
  );

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  
  height: 100%; 
  right: 0;

  animation: toRight, scale2;
  transform-origin: right center;
  animation-duration: 1s;
  transition: all 1s;
}

@keyframes scale1 {
  50% {
    width: 50%;
  }
  100% {
    width: 30%;
  
  }
}
@keyframes scale2 {
  50% {
    width: 50%;
  }
  100% {
    width: 30%;
  
  }
}

@keyframes toLeft {
  from{
    left: 70%;
  }
  to
  {
    left: 0%;
  }
}

@keyframes toRight {
  from{
    right: 70%;
  }
  to
  {
    right: 0%;
  }
}

.switch-text-left, .switch-text-right{
  color:white;
  font-size: 2rem;
  text-align: center;
  width: auto;
  pointer-events: none;
  padding-top: 40%;
}

p{
  position: absolute;
  font-size: 16px;
  top: 220px;
  left: 14%;
  right: 14%
}

.forgot-password{
  top: 20px;
  left: 14%;
  right: 10%;
}
.instagram{
  position: absolute;
  top: 45%;
  left: 10%
}
.facebook{
  position: absolute;
  top: 45%;
  left: 45%;
}
.twitter{
  position: absolute;
  top: 45%;
  left: 80%;
}