* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Calibri;
}
/*headerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
body {
  background-color: #f6f8fd;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 900px;
  z-index: 999999;
  background-color: white;
  color: ;
  box-shadow: 0px 1px 15px #27272780;
  -webkit-box-shadow: 0px 1px 15px #27272780;
  -moz-box-shadow: 0px 1px 15px #27272780;
}
img {
  width: 221px;
  height: 50px;
}
.logo {
  margin-left: 4rem;
}
.title-text {
  font-size: 30px;
  color: #7f007f;
}
.signin-signup-button {
  margin-right: 3rem;
}
button.login:hover {
  border: 1px solid #7f007f;
  background-color: #7f007f;
  color: white;
  cursor: pointer;
}
button.login {
  border: 1px solid #7f007f;
  padding: 8px 10px 8px 10px;
  width: 100px;
  background: none;
  color: #7f007f;
  outline: none;
  border-radius: 8px;
  font-size: 15px;
  display: inline;
}

/*bodyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/
.body-container {
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
  display: flex;
}
.navigation-container {
  width: 25%;
  height: auto;
  background-color: white;
}
.navigation-container dl {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 60px;
}
dt {
  font-weight: bolder;
  margin-top: 15px;
}
dd {
  margin-left: 50px;
  margin-top: 5px;
}
dd:hover {
  color: #7f007f;
  font-weight: bolder;
  padding-left: 3px;
  cursor: pointer;
}

.main-body-container {
  margin-left: 30px;
  width: 70%;
  background-color: white;
  overflow-x: hidden;
  background-color: white;
  padding: 40px;
}
a {
  color: inherit;
  text-decoration: none;
}

p[class="title-1"] {
  font-size: 30px;
  font-weight: bold;
}
.title-2 {
  font-size: 20px;
  font-weight: bold;
}
form {
  margin-top: 30px;
}

/*DANH SÁCH TÀI KHOẢN*/
.danhsachtaikhoan {
  margin-bottom: 50px;
}
#title3 {
  color: #7f007f;
  font-weight: bold;
  margin-bottom: 20px;
}
.search {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0 10px;
}

input[type="text"] {
  width: 100%;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
  outline: none;
}
.fa-search {
  color: grey;
}
