*{
  font-family: Calibri;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.html {
  width: 100%;
  height: auto;
}
body {
  background-color: #fafafa;
}
.header-container {
  width: 100%;
  height: 135px;
  box-shadow: 0px 8px 10px #dadada;
  background-color: white;
}
.menu {
  width: 100%;
  height: 135px;
  position: relative;
}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  padding-top: 15px;
  margin: 0 auto;
}
.top ul li{
  display: inline-block;
  margin-right: 50px;
  
}
.top ul li a{
  text-decoration: none;
  padding: 3px;
  color: black;
  font-weight: 500;
}
.top ul li a:hover{
  text-decoration: none;
  padding: 3px;
  color: #7f007f;
  font-weight: bold;
  border-bottom: 2px solid #7f007f;
}
.logo {
  margin-right: auto;
}
.header-logo {
  width: auto;
  height: 30px;
}
.fa-user{
  padding-right: 15px;
}
.sign-in {
  text-decoration: none;
  border: 1px solid #7f007f;
  padding: 6px 30px 6px 30px;
  color: #7f007f;
  border-radius: 3px;
}
.sign-in:hover {
  text-decoration: none;
  border: 1px solid #7f007f;
  padding: 6px 30px 6px 30px;
  background-color: #7f007f;
  color: white;
  border-radius: 3px;
}
.bottom {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  align-items: center;
}
/* _____ */
.dropbtn {
  background-color: white;
  color:#7f007f;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  color: white;
  overflow:auto;
}

.dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:whitesmoke;
color: #7f007f;
font-weight: bolder;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#f1f1f1;
}
/* _____ */
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.search-logo {
  width: auto;
  height: 20px;
  padding-right: 8px;
}
input[type="text"] {
  width: 80%;
  padding: 6px 6px;
  font-size: 14px;
  border-radius: 0px;
  border-style: none;
  border-bottom: 1px solid black;
  outline: none;
}  
.cart{
  width: 80px;
}

.body-container{
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:auto;
  grid-template-rows: fit-content ;
  grid-template-areas: 
  "slider"
  "brand-row"
  "product-row-1"
  "product-row-2"
  "product-row-3";
}

/* phần này là của slide bar */
.slider{
  width: 100%;
  margin: 40px auto;
  min-height: 550px;
  border-radius: 10px;
  overflow: hidden;
  grid-area : slider;
}
.slides{
  width: 500%;
  height: 550px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 1.5s;
}
.slide img{
  width: 100%;
  min-height: 550px;
  object-fit: cover;
}

/* phần này là của manual slide bar */
.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}
.manual-btn{
  border: 3px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: white;
}
#radio1:checked ~.first{
  margin-left: 0;
}
#radio2:checked ~.first{
  margin-left: -20%;
}
#radio3:checked ~.first{
  margin-left: -40%;
}
#radio4:checked ~.first{
  margin-left: -60%;
}
/* phần này là của auto slide bar */
.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 510px;
}
.navigation-auto div{
  border: 3px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
  background-color: white;
}
#radio2:checked ~.navigation-auto .auto-btn2{
  background-color: white;
}
#radio3:checked ~.navigation-auto .auto-btn3{
  background-color: white;
}
#radio4:checked ~.navigation-auto .auto-btn4{
  background-color: white;
}

/* Brand và danh mục */
.brand-row{
  grid-area : brand-row;
}
.brand-row img{
  width: 100%;
}
.product-row-1{
  grid-area: product-row-1;
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: 0.5s;
  opacity: 0.9;
}
.product-row-1 a img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.product-row-2{
  grid-area: product-row-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-row-2-1{
  width: 50%;
  transition: 0.5s;
  opacity: 0.9;
}
.product-row-2-2{
  width: 50%;
  transition: 0.5s;
  opacity: 0.9;
}
.product-row-2-1 a img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.product-row-2-2 a img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.product-row-3{
  grid-area: product-row-3;
  width: 100%;
  transition: 0.5s;
  opacity: 0.9;
}
.product-row-3 a img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.product-row-1:hover, .product-row-2-1:hover, .product-row-2-2:hover, .product-row-3:hover{
  transform: translateY(-10px);
  width: 100%;
  opacity: 1;
}

/* footer */
.fa-facebook{
  color:#2838CE; 
}
.fa-instagram{
  color:#FF0000;
}
.fa-twitter{
  color: #03A9F4;
}
footer{
  margin-top: 40px;
  width: 100%;
  background-color: white;
  border: 1px solid#E6E6E6;
}
.footer-container{
  width: 80%;
  max-height: 80px;
  margin: 0 auto;
  padding: 20px 0px;
  display :flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-logo{
  width:20%;
  margin-right: auto;
}
.footer-link{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1200px){

}
@media (max-width: 1024px){
  .top{
    width: 90%;
  }
  .top ul li {
    margin-right: 10px;
  }
}
@media (max-width: 768px){
  .header-container{
    height: 200px;
  }
  .top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }
  .logo{
    width: 50%;
    margin: 0;
  }
  .sign-in {
    padding: 6px 20px;
  }
  .top :nth-child(1) { order: 1;}
  .top :nth-child(2) { order: 3;}
  .top :nth-child(3) { order: 2;}
  .top ul{
    margin-top: 10px;
    width: 75%;
    align-self: center;
    display: flex;
    justify-content: space-between;
  }
  .top ul li a{
    padding: 0;
    font-size: 15px;
  }
  .bottom{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    
  }
  .bottom :nth-child(1) { order: 1; width: auto;}
  .bottom :nth-child(2) { order: 3;}
  .bottom :nth-child(3) { order: 2; width: 30%;}
  .dropdown{
    font-size: 15px;
  }
  .dropbtn {
    padding: 5px 0px;
    margin: 0;
    font-size: 15px;
  }
  .dropdown-content a {
    color:black;
    padding: 10px 10px;
    font-size: 12px;
  }
  .fas .fa-angle-down{
    padding: 0px;
    margin: 0px;
    font-size: 25px;
  }
  .cart{
    max-width: 60px;
    float: right;
  }
  .search{
    margin-top: 10px;
    width: 100%;
  }
  .search-logo{
    max-width: 30px;
  }
  
}
@media (max-width: 480px){
  .header-container{
    height: 175px;
  }
  .logo{
    max-width: 40%;
  }
  .header-logo{
    height: 20px;
  }
  .sign-in {
    padding: 5px 15px;
    font-size: 12px;
  }
  .top ul{
    margin-top: 10px;
    width: 85%;
    align-self: center;
    display: flex;
    justify-content: space-between;
  }
  .top ul li a{
    font-size: 12px;
  }
  .bottom{
    margin-top: 15px;
  }
  .search{
    margin-top: 5px;
  }
  .search input{
    font-size: 12px;
  }

}