{{>head-shop}}
{{#section 'js'}}
<script>
  $('.postProduct').on('click', function (e) {
    e.preventDefault();
    $("#form--post-product").submit();

  })

</script>
<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#description',
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });

</script>
{{/section}}

<body>
  {{>header-shop}}

  <div class="body-container">
    {{>nav-shop}}
    <div class="main-body">
      <div class="title-body">
        <div class="text">THÊM SẢN PHẨM</div>
      </div>

      <!-- FORM -->
      <div class="form-container">
        <form action="/api/product" method="POST" class="needs-validation" id="form--post-product" novalidate
          enctype="multipart/form-data">

          <!-- Mấy cái nút -->
          <div class="buttons">
            <button class="btn btn-danger" onclick="window.location.href='/product-list'" type="button">Quay
              lại</button>
            <div class="submit-btn">
              <div id="alert"></div>
              <button class="btn btn-primary postProduct" type="submit">Đăng sản phẩm</button>
            </div>
          </div>

          <!-- Tên sản phẩm -->
          <label for="validationCustom01">Tên sản phẩm</label>
          <input type="text" class="form-control" id="validationCustom01" name="name" placeholder="Nhập tên sản phẩm"
            required>
          <br>
          <!-- Danh mục sản phẩm -->
          <label for="validationCustom02">Danh mục</label>
          <select class="custom-select" id="validationCustom02" name="category" required>
            <option selected hidden value="">Chọn danh mục</option>
            <option value="Áo">Áo</option>
            <option value="Quần">Quần</option>
            <option value="Nón">Nón</option>
            <option value="Ba lô">Ba lô / Túi xách</option>
          </select>
          <br><br>
          <!-- Giá sản phẩm -->
          <label for="validationCustom03">Giá tiền</label>
          <div class="input-group">
            <input type="number" class="form-control" id="validationCustom03" name="price"
              placeholder="Nhập giá sản phẩm" required>
            <div class="input-group-append">
              <span class="input-group-text">VNĐ</span>
            </div>
          </div>
          <br>
          <!-- Số lượng sản phẩm -->
          <label for="validationCustom05">Số lượng sản phẩm</label>
          <input type="number" min="1" step="1" class="form-control" id="validationCustom05" name="amount"
            placeholder="Nhập số lượng sản phẩm" required>
          <br>
          <!-- Mô tả sản phẩm -->
          {{!-- <label for="validationCustom06">Mô tả sản phẩm</label>
          <textarea class="form-control" aria-label="With textarea" id="validationCustom06" name="description"
            placeholder="Nhập mô tả sản phẩm" required></textarea>
          <br> --}}
          <div class="textarea_dt">
            <div class="ui form swdh339">
              <div class="field">
                <textarea class="form-control" rows="5" name="description" placeholder="Nhập mô tả sản phẩm"
                  id="description"></textarea>
              </div>
            </div>
          </div>
          <br>
          <!-- Đăng hình ảnh sản phẩm -->


          <input type="file" name="images" accept="image/png, image/jpeg" id="images" multiple
            data-browse-on-zone-click="true">
          <div class="invalid-feedback">
            *Chưa đăng tải hình ảnh sản phẩm
          </div>
        </form>
      </div>

    </div>
  </div>
</body>
<script src="./add-product.js"></script>