<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm sản phẩm</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="../public/add-product.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#"><img src="../public/imgs/logo.png" alt="" /></a>
      </div>
      <div class="title-text">Kênh Người Bán</div>
      <div class="signin-signup-button">
        <button class="login">Đăng Nhập</button>
        <button class="login">Đăng Kí</button>
      </div>
    </header>

    <div class="body-container">
      <div class="navigation-container">
        <dl>
          <dt>QUẢN LÝ CỬA HÀNG</dt>
          <dd><a href="#ho-so">Hồ sơ cửa hàng</a></dd>

          <dt>QUẢN LÝ ĐƠN HÀNG</dt>
          <dd><a href="#don-hang">Tất cả đơn hàng</a></dd>
          <dd><a href="#don-huy">Đơn bị huỷ</a></dd>
          <dt>QUẢN LÝ SẢN PHẨM</dt>
          <dd><a href="#san-pham">Tất cả sản phẩm</a></dd>
          <dt>TÀI CHÍNH</dt>
          <dd><a href="#doanh-thu">Doanh thu</a></dd>
        </dl>
      </div>
      <div class="main-body">
        <div class="title-body">
          <div class="text">THÊM SẢN PHẨM</div>
        </div>
        
        <!-- FORM -->
        <div class="form-container">
          <form class="needs-validation" novalidate>

            <!-- Mấy cái nút -->
            <div class="buttons">
              <button class="btn btn-danger" type="button">Quay lại</button>
              <div class="submit-btn">
                <div id="alert"></div>
                <button class="btn btn-primary" type="submit">Đăng sản phẩm</button>
              </div>
            </div>

            <!-- Tên sản phẩm -->
            <label for="validationCustom01">Tên sản phẩm</label>
            <input type="text" class="form-control" id="validationCustom01" name="product-name" placeholder="Nhập tên sản phẩm" required>
            <br>
            <!-- Danh mục sản phẩm -->
            <label for="validationCustom02">Danh mục</label>
            <select class="custom-select" id="validationCustom02" name="product-category"  required>
              <option selected hidden value="">Chọn danh mục</option>
              <option>Áo</option>
              <option>Quần</option>
              <option>Nón</option>
              <option>Ba lô / Túi xách</option>
            </select>
            <br><br>
            <!-- Giá sản phẩm -->
            <label for="validationCustom03">Giá tiền</label>
            <div class="input-group">
              <input type="number" min="0" step="500" class="form-control" id="validationCustom03" name="product-price" placeholder="Nhập giá sản phẩm" required>
              <div class="input-group-append">
                <span class="input-group-text">VNĐ</span>
              </div>
            </div>
            <br>
            <!-- Khuyến mãi -->
            <label for="validationCustom04">Khuyến mãi</label>
            <div class="input-group">
              <input type="number" min="0" step="1" class="form-control" id="validationCustom04" name="product-discount" placeholder="Nhập % giảm giá" required>
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>
            <br>
            <!-- Số lượng sản phẩm -->
            <label for="validationCustom05">Số lượng sản phẩm</label>
            <input type="number" min="1" step="1" class="form-control" id="validationCustom05" name="product-quantity" placeholder="Nhập số lượng sản phẩm" required>
            <br>
            <!-- Mô tả sản phẩm -->
            <label for="validationCustom06">Mô tả sản phẩm</label>
            <textarea class="form-control" aria-label="With textarea" id="validationCustom06" name="product-description" placeholder="Nhập mô tả sản phẩm" required></textarea>
            <br>
            <!-- Đăng hình ảnh sản phẩm -->
            <label class="btn btn-light upload-label" for="validationCustom07">Tải lên ảnh sản phẩm</label>
            <div class="custom-file">
              <input type="file" accept="image/*" onchange="loadFile(event)" style="display: none;" class="custom-file-input" id="validationCustom07" name="product-image" multiple required>
              <div class="invalid-feedback">
                *Chưa đăng tải hình ảnh sản phẩm
              </div>
              <div id="image-container"></div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </body>
  <script src="../public/add-product.js"></script>
</html>
