<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Accounts</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/cabc320003.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./admin-page.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#"><img src="./imgs/logo.png" alt="" /></a>
      </div>
      <div class="title-text">Trang quản lý</div>
      <div class="signin-signup-button">
        <button class="login">ADMIN</button>
      </div>
    </header>

    <div class="body-container">
      <div class="navigation-container">
        <dl>
          <dt><a href="">DANH SÁCH TÀI KHOẢN</a></dt>
          <dt><a href="">THỐNG KÊ</a></dt>
        </dl>
      </div>

      <div class="main-body-container">
        <form>
          <!-- DANH SÁCH TÀI KHOẢN -->
          <div class="danhsachtaikhoan">
            <p class="title-1">DANH SÁCH TÀI KHOẢN</p>
            <h4><a href="#customer">Người dùng</a></h4>  
            <h4><a href="#shop">Shop</a></h4> 

            <!-- Customer -->
            <div id="customer">
              <br>
              <h3 id="title3">Người dùng</h3>  
              <div class=search>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="myInput" type="text" placeholder="Tìm kiếm người dùng...">
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>username</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <tr>
                    <td><a href="">Doe</a></td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>mary@mail.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>july@greatstuff.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>a_r@test.com</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Shop -->
            <div id="shop">
              <br>
              <h3 id="title3">Shop</h3> 
              <div class=search>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="myInput1" type="text" placeholder="Tìm kiếm shop...">
              </div>
              <table class="table table-bordered">
                <thead >
                  <tr>
                    <th>Shop name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody id="myTable1">
                  <tr>
                    <td><a href="">Doe</a></td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>mary@mail.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>july@greatstuff.com</td>
                  </tr>
                  <tr>
                    <td>Anja</td>
                    <td>a_r@test.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>



        <!-- THỐNG KÊ
        <div class="lichsumuahang">
          <p class="title-1">THỐNG KÊ</p>
      
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Ngày mua</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>xe hơi canh dương</td>
                <td>2</td>
                <td>400.000 VNĐ</td>
                <td>12/02/2020</td>
              </tr>
              <tr>
                <td>xe hơi canh dương</td>
                <td>2</td>
                <td>400.000 VNĐ</td>
                <td>12/02/2020</td>
              </tr>
              <tr>
                <td>xe hơi canh dương</td>
                <td>2</td>
                <td>400.000 VNĐ</td>
                <td>12/02/2020</td>
              </tr>
            </tbody>
          </table>

        </div> -->
      </div>
    </div>

  </body>

  <script src="https://kit.fontawesome.com/cabc320003.js" crossorigin="anonymous"></script>
  <script src="./admin-page.js"></script>
</html>
