<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Statistics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/cabc320003.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./admin-statistics.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#"><img src="./imgs/logo.png" alt="" /></a>
      </div>
      <div class="title-text">Trang quản lý</div>
      <div class="signin-signup-button">
        <button class="login">ADMIN</button>
      </div>
    </header>

    <div class="body-container">
      <div class="navigation-container">
        <dl>
          <dt><a href="">DANH SÁCH TÀI KHOẢN</a></dt>
          <dt><a href="">THỐNG KÊ</a></dt>
        </dl>
      </div>

      <div class="main-body-container">
        <form>
          <!-- THỐNG KÊ -->
          <div class="danhsachtaikhoan">
            <p class="title-1">THỐNG KÊ</p>
            <h4><a href="#topshop">Shop bán chạy nhất</a></h4>  
            <h4><a href="#topcustomer">Khách hàng mua nhiều nhất</a></h4> 
            <h4><a href="#account">Số lượng tài khoản</a></h4>  
            <h4><a href="#revenue">Tổng doanh thu bán hàng</a></h4> 

            <!-- topshop -->
            <div id="topshop">
              <br>
              <h3 id="title3">Top shop bán chạy nhất</h3> 
              <div class=search>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="myInput" type="text" placeholder="Tìm kiếm...">
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Thời điểm</th>
                    <th>Shop</th>
                    <th>Email</th>
                    <th>Số lượng hàng bán</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <tr>
                    <td>Tháng 10, 2020</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>2k5</td>
                  </tr>
                  <tr>
                    <td>Tháng 9, 2020</td>
                    <td>Mary</td>
                    <td>mary@mail.com</td>
                    <td>2k2</td>
                  </tr>
                  <tr>
                    <td>Tháng 8, 2020</td>
                    <td>July</td>
                    <td>july@greatstuff.com</td>
                    <td>1k5</td>
                  </tr>
                  <tr>
                    <td>Tháng 7, 2020</td>
                    <td>Anja</td>
                    <td>a_r@test.com</td>
                    <td>987</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- topcustomer -->
            <div id="topcustomer">
              <br>
              <h3 id="title3">Top khách hàng mua nhiều nhất</h3> 
              <div class=search>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="myInput1" type="text" placeholder="Tìm kiếm...">
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Thời điểm</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Số lượt mua</th>
                  </tr>
                </thead>
                <tbody id="myTable1">
                  <tr>
                    <td>Tháng 10, 2020</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>130</td>
                  </tr>
                  <tr>
                    <td>Tháng 9, 2020</td>
                    <td>Mary</td>
                    <td>mary@mail.com</td>
                    <td>85</td>
                  </tr>
                  <tr>
                    <td>Tháng 8, 2020</td>
                    <td>July</td>
                    <td>july@greatstuff.com</td>
                    <td>83</td>
                  </tr>
                  <tr>
                    <td>Tháng 7, 2020</td>
                    <td>Anja</td>
                    <td>a_r@test.com</td>
                    <td>55</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <!-- account -->
            <div id="account">
              <br>
              <h3 id="title3">Số lượng tài khoản</h3> 
              <div class=search>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="myInput2" type="text" placeholder="Tìm kiếm...">
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Thời điểm</th>
                    <th>User</th>
                    <th>Shop</th>
                  </tr>
                </thead>
                <tbody id="myTable2">
                  <tr>
                    <td>Tháng 10, 2020</td>
                    <td>30k</td>
                    <td>5k</td>
                  </tr>
                  <tr>
                    <td>Tháng 09, 2020</td>
                    <td>20k</td>
                    <td>3k1</td>
                  </tr>
                  <tr>
                    <td>Tháng 08, 2020</td>
                    <td>15k6</td>
                    <td>3k</td>
                  </tr>
                  <tr>
                    <td>Tháng 07, 2020</td>
                    <td>15k3</td>
                    <td>2k9</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Revenue -->
            <div id="revenue">
              <br>
              <h3 id="title3">Tổng doanh thu bán hàng</h3> 
              <div class=search>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="myInput2" type="text" placeholder="Tìm kiếm...">
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Thời điểm</th>
                    <th>Doanh thu</th>
                  </tr>
                </thead>
                <tbody id="myTable2">
                  <tr>
                    <td>Tháng 10, 2020</td>
                    <td>300.000.000 VNĐ</td>
                  </tr>
                  <tr>
                    <td>Tháng 09, 2020</td>
                    <td>235.000.000 VNĐ</td>
                  </tr>
                  <tr>
                    <td>Tháng 08, 2020</td>
                    <td>140.000.000 VNĐ</td>
                  </tr>
                  <tr>
                    <td>Tháng 07, 2020</td>
                    <td>160.000.000 VNĐ</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </form>


        </div> -->
      </div>
    </div>

  </body>

  <script src="https://kit.fontawesome.com/cabc320003.js" crossorigin="anonymous"></script>
  <script src="./admin-statistics.js"></script>
</html>
