{{#section 'css'}}


{{/section}}

{{#section 'js'}}
<script src="/customer-page.js"></script>
{{/section}}

<div class="main-body-container">
  <form action="/api/user/updateMe" method="POST">
    <!-- HỒ sơ cá nhân -->
    <div class="hosocanhan">
      <p class="title-1">HỒ SƠ CÁ NHÂN</p>

      <!-- Tên -->
      <div class="hoso">
        <div class="title">Tên</div>
        <div class="info">
          <span type="text" class="info1" name="name" readonly required>{{this.user.name}}</span>
        </div>
      </div>
      <!-- Email -->
      <div class="hoso">
        <div class="title">Email</div>
        <div class="info">
          <span type="text" class="info1" name="email" readonly required>{{this.user.email}}</span>
        </div>
      </div>
      <!-- Số điện thoại -->
      <div class="hoso">
        <div class="title">Số điện thoại</div>
        <div class="info">
          <input type="number" min=0 class="info1" name="phone" value="{{this.user.phone}}" readonly required>
        </div>
      </div>
      <!-- Địa chỉ -->

      <div class="hoso">
        <div class="title">Địa chỉ</div>
        <div class="info">
          <input type="text" class="info1" name="address" value="{{this.user.address}}" readonly required>
        </div>
      </div>


      <!--Mấy cái Nút -->
      <div class="edit-save">
        <button class="edit-pass btn btn-success">Đổi mật khẩu</button>
        <button class="edit-btn btn btn-primary">Chỉnh sửa thông tin</button>
        <button class="submit-btn btn btn-danger" disabled>Lưu thay đổi</button>
      </div>
    </div>
  </form>

  <form class="form--changepass">
    <!-- Xác nhận Mật khẩu cũ -->
    <div class="hoso" style="display: none;">
      <div class="title">Nhập mật khẩu hiện tại</div>
      <div class="info">
        <input type="password" class="oldpass-check" name="passwordCurrent">
      </div>

    </div>
    <!-- Mật khẩu mới -->
    <div class="hoso" style="display: none;">
      <div class="title">Nhập mật khẩu mới</div>
      <div class="info">
        <input type="password" class="newpass" name="password">
      </div>
    </div>

    <div class="hoso" style="display: none;">
      <button type="submit" class="submit-btn btn btn-danger save-new-password" style="margin-top:10px">Lưu mật
        khẩu</button>
    </div>
  </form>
  <!-- LỊCH SỬ MMUA HÀNG -->
  <div class="lichsumuahang">
    <p class="title-1">LỊCH SỬ MUA HÀNG</p>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Ngày mua</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>xe hơi canh dương</td>
          <td>2</td>
          <td>400.000 VNĐ</td>
          <td>12/02/2020</td>
        </tr>
        <tr>
          <td>xe hơi canh dương</td>
          <td>2</td>
          <td>400.000 VNĐ</td>
          <td>12/02/2020</td>
        </tr>
        <tr>
          <td>xe hơi canh dương</td>
          <td>2</td>
          <td>400.000 VNĐ</td>
          <td>12/02/2020</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>