<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin tài khoản</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" href="customer-page.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#"><img src="./imgs/logo.png" alt="" /></a>
      </div>
      <div class="title-text">Thông tin tài khoản</div>
      <div class="signin-signup-button">
        <button class="login">username</button>
      </div>
    </header>

    <div class="body-container">
      <div class="navigation-container">
        <dl>
          <dt>HỒ SƠ CÁ NHÂN</dt>
          <dt>LỊCH SỬ MUA HÀNG</dt>
          <dt><a href="">ĐĂNG KÝ THÀNH SHOP</a></dt>
        </dl>
      </div>

      <div class="main-body-container">
        <form>
          <!-- HỒ sơ cá nhân -->
          <div class="hosocanhan">
            <p class="title-1">HỒ SƠ CÁ NHÂN</p>
            
            <!-- Tên -->
            <div class="hoso">
              <div class="title">Tên</div>
              <div class="info">
                <input type="text" class="info1" name="customer-name" value="Username" readonly required>
              </div>
            </div>
            <!-- Email -->
            <div class="hoso">
              <div class="title">Email</div>
              <div class="info">
                <input type="text" class="info1" name="customer-email" value="username@gmail.com" readonly required>
              </div>
            </div>
            <!-- Ngày sinh -->
            <div class="hoso">
              <div class="title">Ngày sinh</div>
              <div class="info">
                <input type="text" class="info1" name="customer-dob" value="01/01/2020" readonly required>
              </div>
            </div>
            <!-- Số điện thoại -->
            <div class="hoso">
              <div class="title">Số điện thoại</div>
              <div class="info">
                <input type="number" min=0 class="info1" name="customer-phone" value="090902548" readonly required>
              </div>
            </div>
            <!-- Địa chỉ -->
            <div class="hoso">
              <div class="title">Địa chỉ</div>
              <div class="info">
                <input type="text" class="info1" name="customer-address" value="225 Nguyễn Văn Cừ quận 7" readonly required>
              </div>
            </div>
            <!-- Mật khẩu -->
            <div class="hoso">
              <div class="title">Mật khẩu</div>
              <div class="info">
                <input type="password" class="oldpass" name="customer-pass" value="mothaibabon" readonly required>
              </div>
            </div>
            <!-- Xác nhận Mật khẩu cũ -->
            <div class="hoso" style="display: none;">
              <div class="title">Nhập mật khẩu hiện tại</div>
              <div class="info">
                <input type="password" class="oldpass-check" name="customer-oldpass-check">
              </div>
              <p class="alertpass" style="display: none;">*Mật khẩu hiện tại không đúng</p>
            </div>
            <!-- Mật khẩu mới -->
            <div class="hoso" style="display: none;">
              <div class="title">Nhập mật khẩu mới</div>
              <div class="info">
                <input type="password" class="newpass" name="customer-newpass">
              </div>
            </div>

            <!--Mấy cái Nút -->
            <div class="edit-save">
              <button class="edit-pass btn btn-success"">Đổi mật khẩu</button>
              <button class="edit-btn btn btn-primary"">Chỉnh sửa thông tin</button>
              <button type="submit" class="submit-btn btn btn-danger" disabled>Lưu thay đổi</button>
            </div>
          </div>
        </form>



        <!-- LỊCH SỬ MMUA HÀNG -->
        <div class="lichsumuahang">
          <p class="title-1">LỊCH SỬ MUA HÀNG</p>
      
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Ngày mua</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>xe hơi canh dương</td>
                <td>2</td>
                <td>400.000 VNĐ</td>
                <td>12/02/2020</td>
              </tr>
              <tr>
                <td>xe hơi canh dương</td>
                <td>2</td>
                <td>400.000 VNĐ</td>
                <td>12/02/2020</td>
              </tr>
              <tr>
                <td>xe hơi canh dương</td>
                <td>2</td>
                <td>400.000 VNĐ</td>
                <td>12/02/2020</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </body>

  <script src="https://kit.fontawesome.com/cabc320003.js" crossorigin="anonymous"></script>
  <script src="./customer-page.js"></script>
</html>
