{{#section 'js'}}
  <script src="/home-page.js"></script>
{{/section}}

{{> header}}
<!-- MAIN -->
<div class="body-container">
<!-- SLIDE BAR -->
<div class="slider">
    <div class="slides">
        <!--radio button-->
        <input type="radio" name="radio-btn" id="radio1" />
        <input type="radio" name="radio-btn" id="radio2" />
        <input type="radio" name="radio-btn" id="radio3" />
        <input type="radio" name="radio-btn" id="radio4" />

        <!--bắt đầu slide-->
        <div class="slide first">
            <img src="/imgs/slide1.jpg" />
        </div>
        <div class="slide">
            <img src="/imgs/slide2.jpg" />
        </div>
        <div class="slide">
            <img src="/imgs/slide3.jpg" />
        </div>
        <div class="slide">
            <img src="/imgs/slide4.jpg" />
        </div>

        <!--tự động chuyển slide-->
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>
    </div>
    <!--chuyển slide bằng chuột-->
    <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
    </div>
</div>
<!-- Hết Slide Bar -->

<div class="brand-row">
    <a href="#">
        <img src="/imgs/brand-name.png" alt="" />
    </a>
</div>

<div class="product-row-1">
    <a href="/category/Ba lô">
        <img src="/imgs/home-bag1.jpg" alt="" />
    </a>
</div>
<div class="product-row-2">
    <div class="product-row-2-1">
        <a href="/category/Quần">
            <img src="/imgs/home-quan.jpg" alt="" />
        </a>
    </div>
    <div class="product-row-2-2">
        <a href="/category/Áo">
            <img src="/imgs/home-ao1.jpg" alt="" />
        </a>
    </div>
</div>
<div class="product-row-3">
    <a href="/category/Nón">
        <img src="/imgs/home-non.jpg" alt="" />
    </a>
</div>
</div>
    
{{> footer}}