{{>head-shop}}

<body>
  <script>

  </script>
  {{>header-shop}}
  <div class="body-container">
    {{>nav-shop}}
    <div class="main-body">
      <div class="title-body">
        <div class="text">DOANH THU CỬA HÀNG</div>
      </div>
      <div class="">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      </div>
    </div>
  </div>
</body>
<script src="/public/sales.js"></script>
{{!-- https://www.codeply.com/go/3l6UhaQEhq/bootstrap-4-chartjs --}}