{{>head-shop}}

<body>
  {{>header-shop}}
  <div class="body-container">
    {{>nav-shop}}
    <div class="main-body">
      <div class="title-body">
        <div class="text">DOANH THU CỬA HÀNG</div>
      </div>
      <canvas id="chart" style="height: 100%; width: 100%"></canvas>
    </div>
  </div>
</body>
<script src="./sales.js"></script>