{{>head-shop}}

<body>
  {{>header-shop}}
  <div class="body-container">
    {{>nav-shop}}
    <div class="main-body">
      <div class="title-body">
        <div class="text">DOANH THU CỬA HÀNG</div>
      </div>
      <div class="col-md-6 py-1">
        <div class="card">
          <div class="card-body">
            <canvas id="chLine"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/public/sales.js"></script>
{{!-- https://www.codeply.com/go/3l6UhaQEhq/bootstrap-4-chartjs --}}