<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng ký thành shop</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="./signtobeshop.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#"><img src="./imgs/logo.png" alt="" /></a>
      </div>
      <div class="title-text">Thông tin tài khoản</div>
      <div class="signin-signup-button">
        <button class="login">username</button>
      </div>
    </header>

    <div class="body-container">
      <div class="navigation-container">
        <dl>
          <dt>HỒ SƠ CÁ NHÂN</dt>
          <dt>LỊCH SỬ MUA HÀNG</dt>
          <dt><a href="">ĐĂNG KÝ THÀNH SHOP</a></dt>
        </dl>
      </div>
      <div class="main-body">
        <div class="title-body">
          <div class="text">ĐĂNG KÝ THÀNH SHOP</div>
        </div>
        
        <!-- FORM -->
        <div class="form-container">
          <form class="needs-validation" novalidate>

            <!-- Mấy cái nút -->
            <div class="buttons">
              <button class="btn btn-danger" type="button">Quay lại</button>
              <div class="submit-btn">
                <div id="alert"></div>
                <button class="btn btn-primary" type="submit">Đăng ký</button>
              </div>
            </div>

            <!-- Tên sshop -->
            <label for="validationCustom01">Tên shop</label>
            <input type="text" class="form-control" id="validationCustom01" name="product-name" placeholder="Nhập tên sản phẩm" required>
            <br>
            <!-- Mô tả shop -->
            <label for="validationCustom06">Mô tả shop</label>
            <textarea class="form-control" aria-label="With textarea" id="validationCustom06" name="product-description" placeholder="Nhập mô tả shop" required></textarea>
            <br>
            <!-- Đăng hình ảnh sản phẩm -->
            <label class="btn btn-light upload-label" for="validationCustom07">Tải lên ảnh đại diện của shop</label>
            <div class="custom-file">
              <input type="file" accept="image/*" onchange="loadFile(event)" style="display: none;" class="custom-file-input" id="validationCustom07" name="product-image" multiple required>
              <div class="invalid-feedback">
                *Chưa đăng tải ảnh đại diện của shop
              </div>
              <div id="image-container"></div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </body>
  <script src="./signtobeshop.js"></script>
</html>
