

{{#section 'js'}}
  <script src="/signtobeshop.js"></script>
{{/section}}



<div class="main-body">
  <div class="title-body">
    <div class="text">ĐĂNG KÝ THÀNH SHOP</div>
  </div>
  
  <!-- FORM -->
  <div class="form-container">
    <form class="needs-validation" novalidate>

      <!-- Mấy cái nút -->
      <div class="buttons">
        <button class="btn btn-danger" type="button"><a href="/customer/{{this.user.email}}">Quay lại</a></button>
        <div class="submit-btn">
          <div id="alert"></div>
          <button class="btn btn-primary" type="submit">Đăng ký</button>
        </div>
      </div>

      <!-- Tên sshop -->
      <label for="validationCustom01">Tên shop</label>
      <input type="text" class="form-control" id="validationCustom01" name="shop-name" placeholder="Nhập tên sản phẩm" required>
      <br>
      <!-- Mô tả shop -->
      <label for="validationCustom06">Mô tả shop</label>
      <textarea class="form-control" aria-label="With textarea" id="validationCustom06" name="shop-description" placeholder="Nhập mô tả shop" required></textarea>
      <br>
      <!-- Đăng hình ảnh sản phẩm -->
      <label class="btn btn-light upload-label" for="validationCustom07">Tải lên ảnh đại diện của shop</label>
      <div class="custom-file">
        <input type="file" accept="image/*" onchange="loadFile(event)" style="display: none;" class="custom-file-input" id="validationCustom07" name="shop-image" required>
        <div class="invalid-feedback">
          *Chưa đăng tải ảnh đại diện của shop
        </div>
        <div id="image-container"></div>
      </div>

    </form>
  </div>

</div>


